body {
  font-family: "Exo", sans-serif;
}

#wrapper {
  width: 75%;
  margin: 0px auto;
}

header {
  color: #000;
  font-family: "Exo", sans-serif;
  font-size: 60px;
  line-height: 2em;
}

hr {
  background-color: #f7f7f7;
  height: 5px;
  border: none;
}

#headline {
  width: 100%;
  margin: 0px auto;
}

blockquote {
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
